{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarEmpleado/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ misempleados.id_empleado }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ misempleados.nombre }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="txtedad" name="txtedad" class="form-control" value="{{ fecha_nac }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtsexo" name="txtsexo" class="form-control" value="{{ misempleados.sexo }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{ misempleados.direccion }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txttelefono" name="txttelefono" class="form-control" value="{{ misempleados.telefono }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtcurp" name="txtcurp" class="form-control" value="{{ misempleados.curp }}" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtsucusal" name="txtsucusal" class="form-control" value="{{ misempleados.id_sucursal }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
