{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarProveedor/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ misproveedores.id_proveedor }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ misproveedores.nombre }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txttelefono" name="txttelefono" class="form-control" value="{{ misproveedores.telefono }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtproducto" name="txtproducto" class="form-control" value="{{ misproveedores.producto }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{ misproveedores.direccion }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnie" name="txtnie" class="form-control" value="{{ misproveedores.nie }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtsucasignadas" name="txtsucasignadas" class="form-control" value="{{ misproveedores.suc_asignadas }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
